<h1 class='header' id='spiderman'>spiderman</h1>
<h2>General Info</h2>
<p>Spider-Man" centers on student Peter Parker (Tobey Maguire) who, after being bitten by a genetically-altered spider, gains superhuman strength and the spider-like ability to cling to any surface. He vows to use his abilities to fight crime, coming to understand the words of his beloved Uncle Ben: "With great power comes great responsibility.</p>
<h2>Super Powers</h2>
<ol>
    <li>Super Strenth</li>
    <li>Spide-Sense</li>
    <li>Reflex/Balance</li>
</ol>
